<!DOCTYPE html> 
<html> 
<head>
	<meta charset="UTF-8" />
	<title>图书馆 - 主页</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="/resources/css/themes/lk.min.css" />
	<link rel="stylesheet" href="/resources/css/jquery.mobile.structure-1.2.0.min.css" />
	<script src="/resources/js/jquery-1.8.2.min.js"></script>
	<script src="/resources/js/jquery.mobile-1.2.0.min.js"></script>
</head> 
<body> 

<div data-role="page">
	<div data-role="header">
		<a href="/reader/main">返回主页</a>
		<h1>${b.title}</h1>
		<a href="/reader/self_info">个人中心</a>
	</div>

	<div data-role="content" data-theme="a">
		<div data-role="navbar">
			<ul>
				<li><a href="/lib/book?id=${b.id}">预约</a></li>
				<li><a href="/lib/borrow?id=${b.id}">借阅</a></li>
			</ul>
		</div>
		<p>
			${b.description}
		</p>
		<form action="" method="post" data-ajax="false">
			<label for="title">书籍名称</label>
			<input type="text" name="title" value="${b.title}" disabled="true" />
			<label for="author">作者</label>
			<input type="text" name="author" value="${b.author}" disabled="true" />

			<input type="hidden" name="url" value="${b.url}" />

			<label for="url">URL</label>
			<input type="text" name="url" value="${b.url}" disabled="true" />
			<label for="categoryId">类别</label>
			<select name="categoryId" id="categoryId" disabled="true">
			   	<option value="${b.category.id}" selected="selected">${b.category.name}</option>
			</select>

			<label for="publishHouse">出版社</label>
			<input type="text" name="publishHouse" value="${b.publishHouse}" disabled="true" />

			<label for="publish_date">出版日期</label>
			<input type="text" name="publish_date" value="${b.publishDate}" disabled="true" />

			<label for="ISBN">ISBN</label>
			<input type="text" name="ISBN" value="${b.ISBN}" disabled="true" />

			<label for="price">价格</label>
			<input type="text" name="price" value="${b.price}" disabled="true" />

			<label for="borrowedTimes">借阅次数</label>
			<input type="text" name="borrowedTimes" value="${b.borrowedTimes}" disabled="true" />

			<label for="bookedTimes">预约次数</label>
			<input type="text" name="bookedTimes" value="${b.bookedTimes}" disabled="true" />
			
			<label for="clickTimes">点击次数</label>
			<input type="text" name="clickTimes" value="${b.clickTimes}" disabled="true" />

			<label for="total">总数</label>
			<input type="text" name="total" value="${b.total}" disabled="true" />

			<label for="remain">余量</label>
			<input type="text" name="remain" value="${b.remain}" disabled="true" />

			<fieldset>
			<label for="lendable">是否可借</label>
			<select name="lendable" id="lendable" data-role="slider" disabled="true">
				<option value="1">是</option>
				<option value="0">否</option>
			</select>
			</fieldset>

			<label for="includedDate">加入日期</label>
			<input type="text" name="includedDate" value="${b.includedDate?string("yyyy-MM-dd HH:mm:ss")}" disabled="true" disabled="true" />
		</form>
	</div>
</div>

</body>
</html>