<#if type == "BookingInfo">
	<#assign what = "预约" />
<#elseif type == "LendInfo">
	<#assign what = "借阅" />
<#elseif type == "ChargeInfo">
	<#assign what = "罚款" />
<#else>
	<#assign what = "" />
</#if>
<!DOCTYPE html> 
<html> 
<head>
	<meta charset="UTF-8" />
	<title>图书馆 - 我的空间</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="/resources/css/themes/lk.min.css" />
	<link rel="stylesheet" href="/resources/css/jquery.mobile.structure-1.2.0.min.css" />
	<script src="/resources/js/jquery-1.8.2.min.js"></script>
	<script src="/resources/js/jquery.mobile-1.2.0.min.js"></script>
	<!-- <script src="/resources/js/json2.js"></script> -->
	<style type="text/css">
		#header {
			text-align: center;
		}
	</style>
</head> 
<body> 

<div data-role="page">
	<div data-role="header">
		<a href="/reader/main">回到主页</a>
		<h1>${Session.r.nick}</h1>
		<a href="/reader/zone">个人中心</a>
	</div>

	<div data-role="content" data-theme="a">
		<ul data-role="listview" data-divider-theme="b" data-inset="true">
            <li data-role="list-divider" role="heading" id="header">
                您的${what}信息
            </li>
            <li>
                <a href="/lib/book_detail?id=${info.book.id}" data-transition="slidedown">
                    ${what}图书：《${info.book.title}》
                </a>
            </li>
            <li>
                <a href="/lib/book_detail?id=${info.book.id}" data-transition="slidedown">
                    ${what}时间：${info.date?string("yyyy-MM-dd")}
                </a>
            </li>
			<#if type == "BookingInfo">
	            <li>
	                <a href="/lib/book_detail?id=${info.book.id}" data-transition="slidedown">
	                    ${what}是否成功：${info.deal?string("是", "否")}
	                </a>
	            </li>
	            <#if !info.cancel>
	            <li>
	                <a href="/reader/cancel?booking_id=${info.id}">取消${what}?</a>
	            </li>
	            </#if>
			<#elseif type == "LendInfo">
	            <#if info.returnDate??>
		        	<li>
		                <a href="" data-transition="slidedown">
		                    归还日期：${info.date?string("yyyy-MM-dd")}
		                </a>
		            </li>
		            <li>
		            	<a href="">
		            		是否罚款：${info.charge?string("是", "否")}
		            	</a>
		            </li>
		        <#else>
					<li>
		                <a href="" data-transition="slidedown">
		                    应还日期：${returnDate?string("yyyy-MM-dd")}
		                </a>
		            </li>
		            <li>
		                <a href="/reader/_return?lend_id=${info.id}" data-transition="slidedown">
		                   	归还图书
		                </a>
		            </li>
	            </#if>
			<#elseif type == "ChargeInfo">
	            <li>
	                <a href="" data-transition="slidedown">
	                    罚款金额：${info.fee}
	                </a>
	            </li>
	            <#if info.date??>
					<li>
		                <a href="" data-transition="slidedown">
		                    罚款日期：${info.date?string("yyyy-MM-dd")}
		                </a>
		            </li>
		        <#else>
		        	<li>
		                <a href="/lib/charge?book_id=${info.book.id}" data-transition="slidedown">
		                	缴纳欠款
		                </a>
		            </li>
	            </#if>
			<#else>
			</#if>
        </ul>
	</div>

</div>

</body>
</html>