<!DOCTYPE html> 
<html> 
<head>
	<meta charset="UTF-8" />
	<title>图书馆 - 我的空间</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="/resources/css/themes/lk.min.css" />
	<link rel="stylesheet" href="/resources/css/jquery.mobile.structure-1.2.0.min.css" />
	<script src="/resources/js/jquery-1.8.2.min.js"></script>
	<script src="/resources/js/jquery.mobile-1.2.0.min.js"></script>
	<!-- <script src="/resources/js/json2.js"></script> -->
	<style type="text/css">
		.right {
			/*text-align: right;*/
			float: right;
		}
	</style>
</head> 
<body> 

<div data-role="page">
	<div data-role="header">
		<a href="/reader/self_info">个人信息</a>
		<h1>${Session.r.nick}</h1>
		<a href="/reader/zone">个人中心</a>
	</div>

	<div data-role="content" data-theme="a">
		<div data-role="collapsible-set">
			<div data-role="collapsible">
				<h3 type='BookingInfo'>我的预约信息</h3>
				<ul data-role="listview" id="BookingInfo">
				
				</ul>
	 			<button type="BookingInfo" class="more">点击查看更多。。。</button>
			</div>
			<div data-role="collapsible">
				<h3 type='LendInfo'>我的借阅信息</h3>
				<ul data-role="listview" id="LendInfo">
				</ul>
				<button type="LendInfo" class="more">点击查看更多。。。</button>
			</div>
			<div data-role="collapsible">
				<h3 type="ChargeInfo">我的欠款信息</h3>
				<ul data-role="listview" id="ChargeInfo">
				</ul>
				<button type="ChargeInfo" class="more">点击查看更多。。。</button>
			</div>
		</div>
	</div>
</div>

	
</body>
	<script type='text/javascript'>
		$(function() {
			var map = {
				chargeInfo: {
					type: 'ChargeInfo',
					flag: true,
					no: 1
				},
				lendInfo: {
					type: 'LendInfo',
					flag: true,
					no: 1
				},
				bookingInfo: {
					type: 'BookingInfo',
					flag: true,
					no: 1
				}
			}

			var whatever = function(type) {
				if (type === map.chargeInfo.type) {
					return map.chargeInfo;
				};
				if (type === map.bookingInfo.type) {
					return map.bookingInfo;
				};
				if (type === map.lendInfo.type) {
					return map.lendInfo;
				};
			}

			$('h3').one('click', function() {
				var type = whatever($(this).attr('type'));
				getJSON(type);
			})

			$('button.more').click(function() {
				var type = whatever($(this).attr('type'));
				if (!type.flag) {
					return false;
				}
				getJSON(type);
			})



			var getJSON = function(type) {
				$.getJSON('/reader/zone/' + type.type, {
					no: type.no
				}, function(json) {
					// alert(json[2].book.title);
					if (!json) {
						type.flag = false;
						alert("没有更多了！");
						return false;
					}
					for (var i = 0; i < json.length; i++) {
						$('<li><a href="/reader/view_info/{type}?id={id}">{name}{right}</a></li>'
							.replace('{id}', json[i].id)
							.replace('{name}', json[i].book.title)
							.replace('{type}', type.type)
							.replace('{right}', function() {
								if (type.type === map.bookingInfo.type) {
									if (json[i].deal === 'true') {
										return '<span class="right">已处理！</span>';
									} else {
										return '<span class="right">待处理！</span>';
									}
								};

								if (type.type === map.lendInfo.type) {
									if (json[i].returnDate) {
										return '<span class="right">已归还！</span>';
									} else {
										return '<span class="right">尚未归还！</span>';
									}
								};

								if (type.type === map.chargeInfo.type) {
									if (json[i].date) {
										return '<span class="right">已缴纳欠款！</span>';
									} else {
										return '<span class="right">尚未缴纳欠款！</span>';
									}
								};
								// alert(type.type);
								return '';
							})
						).appendTo('#' + type.type);
					}
					$('#' + type.type).listview('refresh');
					type.no++;
				})
			}

			// $('#b').click(function() {
			// 	$.getJSON('/reader/zone/BookingInfo', {
			// 		no: 1
			// 	}, function(json) {
			// 		for (var i = 0; i < json.length; i++) {
			// 			$('<li><a href="{id}">{name}</a></li>'.replace('{id}', json[i].book.id).replace('{name}', json[i].book.title)).appendTo('#bookinginfo');
			// 		}
			// 		$('#bookinginfo').listview('refresh');
			// 	})
				
			// })
			
		})
	</script>
</html>